//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Layout **
//*=========================================

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin heading-font-stack {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin main-font-stack {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

//********** Sizing & spacing **********

//* Header
$header-spacing: 5rem;
$header-spacing-large: 10rem;

//* Headings

// Sizing
$heading-size-large: 10rem;

// Spacing
$heading-spacing-large: 5rem;

//* Sections
$section-spacing-extra-large: 40rem;
$section-spacing-large: 30rem;

//* Paragraphs

// Font sizing
$font-size-large: 10rem;

// Spacing
$paragraph-spacing-large: 10rem;

//*=========================================
//** Colours  **
//*=========================================

//TODO: Customise brand colours

// Main brand Colours
$main-brand-colour: #dea635;
$main-brand-colour-transparent: #dea6355e;
$background-colour-light: #f4f1f0;
$background-colour-dark: #1f1f1f;

// Main Font Colours
$font-colour-light: #f4f1f0;
$font-colour-dark: #252525;

// Link Colours
$link-colour: #3c3cf6;
$link-visited: #8608fb;

//*=========================================
//** Effects and Animation  **
//*=========================================

//********** Transition Timings**********


//* Timings

//********** Keyframes **********

//*=========================================
//** Media Queries   **
//*=========================================

//TODO: Delete unused media queries

//********** Max Width **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (max-width: $point) {
    @content;
  }
}

//********** Min Width **********

@mixin min-breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (min-width: $point) {
    @content;
  }
}

//********** Height **********

@mixin height-breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (max-height: $point) {
    @content;
  }
}

//********** Width and Orientation **********

@mixin width-orientation-breakpoint($point, $orientation: portrait) {
  @if unitless($point) {
    $point: 1px * $point;
  }

  @media (max-height: $point) and (orientation: $orientation) {
    @content;
  }
}

//*=========================================
//** Accessability **
//*=========================================

//********** Visually Hidden  **********

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}