//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.


// *=========================================
// ** Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}