// *=======================================================================================
// ** Styles for all pages  **
// ** Reset based on https://hankchizljaw.com/wrote/a-modern-css-reset/  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.


// *=========================================
// ** Page & Site Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @include main-font-stack;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-image: url('/images/dog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.page-wrapper {
  padding: 5rem;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********


//********** Containers **********

section,
main {
  position: relative;
  overflow: hidden;
  //TODO: Remove if not needed
  /*
  * Fixes IOS Bug where scrolling breaks z-index
  https://stackoverflow.com/questions/16033416/while-scrolling-on-an-ios-device-the-z-index-of-elements-isnt-working
  */
  -webkit-transform: translate3d(0, 0, 0);
}

//********** Paragraphs **********

p {
  margin-inline: auto;
  margin-top: 0;
}

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//********** Links **********

// Better to leave underlining on by default and switch it off where you don't want it

a {
  text-decoration: underline;
  color: $link-colour;
}

//*=========================================
//** Header **
//*=========================================

// *=========================================
// ** Main Nav  **
// *=========================================

.main-nav {
  position: relative;
  width: 100%;
  background-color: $main-brand-colour-transparent;
}

.main-nav__ul {
  @include flex(row);
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

.main-nav__li {
  list-style-type: none;
}

.main-nav__link {
  @include heading-font-stack;
  color: $font-colour-dark;
  font-size: 3rem;
  text-decoration: none;
}

.main-nav__mega-menu {
  position: absolute;
  left: 0;
  @include flex(row);
  justify-content: space-evenly;
  width: 100%;
  background-color: $accent-brand-colour-transparent;
  opacity: 0;
  visibility: hidden;
}

.mega-menu__column {
  font-size: 1.5rem;
  padding: 2rem;
}

.mega-menu__heading {
  margin: 0 auto 1rem;
}

.mega-menu__ul {
  margin: 0;
  padding: 0;
}

.mega-menu__li {
  list-style-type: none;
  margin: 0 auto 1rem;
}

.mega-menu__link {
  text-decoration: none;
  color: inherit;

}

.main-nav__li:hover>.main-nav__mega-menu {
  opacity: 1;
  visibility: visible;
}

//********** Responsive Styles **********

// *=========================================
// ** Body **
// *=========================================

// *=========================================
// ** Footer  **
// *=========================================


//*=========================================
//** Utility & Accessibility  **
//*=========================================

//********** Visually Hidden  **********

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//*=========================================
//** Browser Specific Styles  **
//*=========================================